<h1 class="text-center">All Robots</h1>

<% @robots.each do |robot| %>
  <div class="text-center">
    <h3><a href="/robots/<%= robot.id %>"><%= robot.name %></a></h3>
    <img class="img-thumbnail" src="https://robohash.org/<%= robot.name %>.png">
    <p><%= robot.city %></p>
    <p><%= robot.state %></p>
    <p><%= robot.department %></p>
    <a href="/robots/<%= robot.id %>/edit">Edit</a>
    <form action="/robots/<%= robot.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete">
    </form>
  </div>
<% end %>
